.tg-site-header {
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
}

header {
  display: block;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  font-style: normal;
  color: #7a7a7a;
}

.tg-site-header-top {
  background-color: #ffb716;
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: scroll;
  color: #fff;
  padding: 0.5em 0;
}

.tg-container {
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: inherit;
}

.tg-container--flex-center {
  align-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.tg-container--flex {
  display: flex;
  flex-wrap: wrap;
}

.tg-header-top-left-content {
  width: 50%;
  box-sizing: inherit;
}

.tg-header-top-right-content {
  width: 50%;
  text-align: right;
}

.tg-site-header-bottom {
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: inherit;
}

.tg-container--flex-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.site-branding {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: inherit;
}

.custom-logo-link {
  margin-right: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

a {
  color: #16181a;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  box-sizing: inherit;
}

.tg-primary-menu {
  border-bottom: 0 solid #e9ecef;
  margin-left: auto;
}

.tg-primary-menu > div > ul {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: square;
  box-sizing: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.tg-primary-menu > div ul li.menu-item-has-children,
.tg-primary-menu > div ul li.page_item_has_children {
  position: relative;
}

.tg-primary-menu > div > ul > li {
  margin: 1em;
  box-sizing: inherit;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.tg-primary-menu > div ul li:active > a,
.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current_page_item
  > a,
.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current-menu-item
  > a {
  color: #ffb716;
}

.tg-primary-menu > div ul li a {
  display: flex;
}

.menu-item i {
  margin-left: 0.5rem;
  vertical-align: middle;
  font-size: 20px;
}

a:-webkit-any-link {
  cursor: pointer;
}

.tg-primary-menu > div ul li ul {
  display: none;
  top: 100%;
  border: 1px solid #e9ecef;
  width: 240px;
  background: #fff;
  position: absolute;
  z-index: 999;
}

.tg-primary-menu > div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tg-primary-menu > div ul li ul li {
  border-bottom: 1px solid #e9ecef;
  box-sizing: inherit;
}

.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current_page_item
  > a,
.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current-menu-item
  > a {
  color: #ffb716;
}

.tg-primary-menu > div ul li ul li a {
  padding: 1em;
}

.tg-primary-menu > div ul li a {
  display: flex;
}

a:-webkit-any-link {
  cursor: pointer;
}

.tg-primary-menu > div ul li.menu-item-has-children:hover > ul {
  display: block;
}

.tg-primary-menu > div ul li ul {
  top: 100%;
  border: 1px solid #e9ecef;
  width: 240px;
  background: #fff;
  position: absolute;
  z-index: 999;
}

.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current_page_item
  > a,
.tg-primary-menu
  > div
  ul
  > li:not(.tg-header-button-wrap).current-menu-item
  > a {
  color: #ffb716;
}

.tg-primary-menu > div > ul > li:last-child {
  margin-right: 0;
}

.tg-primary-menu > div ul li.tg-menu-item-search {
  position: relative;
  cursor: pointer;
}

.tg-primary-menu > div ul li.tg-menu-item-search.show-search .search-form {
  display: flex;
}

.tg-primary-menu > div ul li.tg-menu-item-search .search-form {
  position: absolute;
  top: 43px;
  right: 0;
  width: 200px;
  display: none;
  z-index: 999;
  box-sizing: inherit;
}

form {
  margin-top: 0em;
}

.tg-primary-menu > div ul li.tg-menu-item-search .search-form label {
  margin-bottom: 0;
}

.search-form label {
  position: relative;
}

label {
  display: inline-block;
  box-sizing: inherit;
  cursor: default;
}

label i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: block;
  content: "\f10b";
  font-family: themegrill-icons;
  color: #adb5bd;
}

.screen-reader-text {
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip-path: inset(50%);
  word-wrap: normal !important;
}

input[type="search"] {
  -webkit-appearance: none;
  color: #16181a;
  border: 1px solid #dee2e6;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 0;
}

input {
  line-height: normal;
  font: inherit;
  margin: 0;
  box-sizing: inherit;
}

.search-form .search-submit {
  display: none;
}

input[type="submit"] {
  background-color: #ffb716;
  border: 0 solid #e9ecef;
  color: #fff;
  padding: 0.7rem 1rem;
  -webkit-appearance: button;
  cursor: pointer;
}

.tg-primary-menu > div > ul li:not(.tg-header-button-wrap):hover > a {
  color: #ffb716;
}
